.positions-container-fluid {
  width: 100%;
}

/* Class for position loop container */
.position-loop-container {
  border-color: rgba(255, 255, 255, 0.2) !important;
  max-height: 550px;
}
#position-loop {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
/* Class for dark-muted background with padding */
.bg-dark-muted-padding {
  margin-left: 3rem; /* Negative margin left */
  margin-right: 3rem; /* Negative margin right */
}

/* Class for toggle description button */
.toggle-description-btn,
.toggle-description-btn.btn {
  top: 0;
  right: 0;
  margin: 0.5rem;
  border: none!important;
}
.toggle-description-btn:hover,
.toggle-description-btn:focus,
.toggle-description-btn:active,
.toggle-description-btn.btn:first-child:active {
  background-color: transparent!important;
  box-shadow: none!important;
  border: none!important;
  color: #fff!important;
}

/* Class for muted text with smaller font size */
.text-muted-small {
  font-size: 0.9em;
}

/* Class for company category badge */
.company-category-badge {
  font-size: 0.8em;
}
